/* universal elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family:Helvetica, Arial, sans-serif;
    background-color: #333940;
    color:white;
}

h1, h2, h3, h4, h5, h6 {
    color:#e867ed;
}

/* HEADER */

header, footer {
    margin: 2.5% 16%;
    text-align:center;
}

.intro {
    font-size: 0.8em;
    line-height: 1.6em;
    margin: 10px 0 35px;
}

/* experiement with gradient fill

.experiment {
display:flex;
flex-direction:column;
flex-wrap:nowrap;
flex-basis:50%;
height:300px;
border: 1.5px dashed white;
}

.head {
    background-color: #333940;
    border: 2px solid white;
    border-radius:8px;
    width:90%;
    margin:-5% auto 2.5%;
    }

.graph {
background-color:#333940;
height:12%;
}

.gradient {
    height:80%;
    background-image: repeating-linear-gradient(
        rgba(112, 73, 121),
        rgba(158, 84, 164)
        );
        justify-content: center;
}

*/

/* main section */

main {
    display: flex;
    flex-wrap: wrap;
    margin:20px;   
}

section {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1.5px dashed white;
    margin:20px auto;
    padding:10px;
    width:31%;    
}

section p {
    color:#e867ed;
    font-size: 0.8em;
    line-height:1.6em;
    margin: 2.5% 0;       
}

.box-heading {
    background-color: #333940;
    border: 2px solid white;
    border-radius:8px;
    margin:-30px 0 0 0 ;
    padding:5px;
}

/* code snippets */


pre {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height:200%;
    padding-bottom:2.5%
    
}

code {
    font-family:'Courier New', Courier, monospace;
    font-size:.8em;
    white-space: pre-wrap;
    flex-basis:100%;
    background-image: linear-gradient(
    rgba(112, 73, 121),
    rgba(158, 84, 164)
    );
    border-radius:8px;
    padding:10px;
}

/* media queries */

@media screen and (max-width: 992px) {
    section {
        flex-basis:45%;
    }
}

@media screen and (max-width: 768px) {
    section {
        flex-basis:90%;
    }
}