/* top-level styles */
:root {
    --purple: #e867ed;
    --gray: #333940;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family:Helvetica, Arial, sans-serif;
    background-color: var(--gray);
    color:white;
}

h1, h2, h3, h4, h5, h6 {
    color:var(--purple);
}

/* header & footer */

header, footer {
    margin: 2.5% 16%;
    text-align:center;
}

.intro {
    font-size: 0.8em;
    line-height: 1.6em;
    margin: 10px 0 35px;
}

/* main */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin:20px;   
}

section {
    display:flex;
    flex-direction: column;
    border: 1.5px dashed white;
    margin:20px auto;
    padding:10px;
    width:31%;
}

section .box-heading {
    position:relative;
    background-color: var(--gray);
    border: 1.5px solid white;
    border-radius:8px;
    margin:-30px 0 0 0 ;
    padding:5px;
    transition: all 0.5s ease-in-
    out;    
}

section p {
    color:var(--purple);
    font-size: 0.8em;
    line-height:1.6em;
    margin: 2.5% 0;
}
    
/*hover glow */

section:hover,
section:hover .box-heading {
    box-shadow: inset 0px 0px 8px
 rgba(232, 102, 236, 1), 0 0 15px
 rgba(232, 102, 236, 1);
 }

/* code snippets */

pre {
    display:flex;
    flex-wrap: nowrap;
    flex-basis:100%;
    user-select: all; 
}

code {
    display:flex;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    font-size:.8em;
    white-space: pre-wrap;
    flex-basis:100%;
    background-image: linear-gradient(
    rgba(112, 73, 121),
    rgba(158, 84, 164)
    );
    border-radius:8px;
    padding:1.5%;
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-
    out;
 }
 
 .code-card:hover,
 .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
 rgba(232, 102, 236, 1), 0 0 15px
 rgba(232, 102, 236, 1);
 }
 

/* media queries */

@media screen and (max-width: 992px) {
    section {
        flex-basis:45%;
    }
}

@media screen and (max-width: 768px) {
    section {
        flex-basis:90%;
    }
}